.toast__error {
  background-color: var(--th-color-text-error);
  color: #fff;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 16px;
  padding: 1rem;
  button {
    background-color: transparent;
    height: 1.5rem;
    border: none;
    >svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      cursor: pointer;
    }
  }
  @media (max-width: 600px) {
    width: 20.5rem;
  }
}
.toast__success {
    background-color: var(--th-color-text-error);
    color: #fff;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 16px;
    padding: 1rem;
    button {
      background-color: transparent;
      height: 1.5rem;
      border: none;
      >svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
        cursor: pointer;
      }
    }
}
.overlay {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.toast__error,
.toast__success {
  animation: toastIn 0.5s ease forwards;
}

.toast__error.leaving,
.toast__success.leaving {
  animation: toastOut 0.5s ease forwards;
}
@keyframes toastIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toastOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}