@use "assets/styles/reset" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --font-inter: "Inter", sans-serif;
    --font-lora: "Lora", serif;
    --font-bebas: "Bebas Neue", sans-serif;
    --primary-900: #002324;
    --primary-800: #004548;
    --primary-700: #00686c;
    --primary-600: #008287;
    --primary-500: #00adb4;
    --primary-400: #33bdc3;
    --primary-300: #66ced2;
    --primary-200: #99dee1;
    --primary-100: #cceff0;

    --secondary-900: #33150a;
    --secondary-800: #662914;
    --secondary-700: #983e1e;
    --secondary-600: #cb5228;
    --secondary-500: #fe6732;
    --secondary-400: #fe855b;
    --secondary-300: #fea484;
    --secondary-200: #ffc2ad;
    --secondary-100: #ffe1d6;

    --tertiary-900: #33270d;
    --tertiary-800: #664f19;
    --tertiary-700: #997626;
    --tertiary-600: #cc9e32;
    --tertiary-500: #ffc53f;
    --tertiary-400: #ffd165;
    --tertiary-300: #ffdc8c;
    --tertiary-200: #ffe8b2;
    --tertiary-100: #fff3d9;

    --gray-900: #212121;
    --gray-800: #424242;
    --gray-700: #616161;
    --gray-600: #546e7a;
    --gray-500: #757575;
    --gray-400: #9e9e9e;
    --gray-300: #90a4ae;
    --gray-200: #e0e0e0;
    --gray-100: #eeeeee;
    --gray-50: #fafafa;

    --black: #000000;
    --white: #ffffff;

    --error: #d32f2f;
    --error-hover: #;

    --success: #00adb4;
    --success-: #dcefdd;
}

html[data-theme="primary"] {
    --th-font-lora: var(--font-lora);
    --th-font-inter: var(--font-inter);

    --th-img-background: url("assets/images/background.png");
    --th-color-background: var(--primary-500);
    --th-color-focus-error: var(--error);

    --th-bigbutton-background: var(--primary-100);
    --th-bigbutton-box-background: var(--primary-300);
    --th-bigbutton-border: var(--primary-200);
    --th-bigbutton-text: var(--primary-700);

    --th-feedbackalert-title: var(--primary-800);
    --th-feedbackalert-description: var(--gray-700);
    --th-feedbackalert-button: var(--primary-600);
    --th-feedbackalert-button-hover: var(--primary-100);

    --th-brainstormingcard-text-title: var(--gray-800);
    --th-brainstormingcard-text: var(--gray-900);
    --th-brainstormingcard-textdate: var(--gray-700);
    --th-brainstormingcard-border: var(--gray-200);

    --th-button-sidebar-background: var(--primary-600);
    --th-button-sidebar-hover: var(--primary-100);
    --th-button-sidebar-text-selected: var(--white);
    --th-button-sidebar-text-noselected: var(--primary-800);
    --th-color-card: var(--white);
    --th-line-sidebar: var(--gray-200);
    --th-background-sidebar: var(--gray-50);
    --th-color-primary-button: var(--primary-600);
    --th-color-secondary-button: var(--primary-600);
    --th-color-button: var(--primary-600);
    --th-color-button-hover: var(--primary-500);
    --th-color-button-focus: var(--primary-700);
    --th-color-button-back: var(--white);
    --th-color-button-back: var(--white);
    --th-color-primary-button-hover: var(--primary-500);
    --th-color-secondary-button-hover: var(--primary-100);
    --th-border-secondary-button: 1px var(--primary-600) solid;
    --th-color-button-disabled: var(--gray-100);
    --th-color-text-button-disabled: var(--gray-800);
    --th-color-text-button: var(--white);
    --th-color-input-focus: var(--primary-600);
    --th-color-input-hover: var(--primary-600);
    --th-color-text-input: var(--gray-700);
    --th-color-text-primary-button: var(--white);
    --th-color-text-button-back: var(--primary-600);
    --th-color-text-forgotten-password: var(--primary-500);
    --th-color-text-label: var(--gray-800);
    --th-color-text-footer: var(--gray-700);
    --th-color-text-link: var(--primary-600);
    --th-color-text-link-focus: var(--primary-700);
    --th-color-text-card-header: var(--gray-500);
    --th-color-text-highlight: var(--primary-500);
    --th-color-text-warning: var(--gray-700);
    --th-shadow: 0px 2px 4px var(--gray-400);
    --th-icon-eye: var(--gray-500);
    --th-color-input-select: var(--white);
    --th-color-text-input-selected: var(--gray-500);
    --th-color-text-error: var(--error);
    --th-color-text-success: var(--success);

    --th-color-text-header: #212121;
    --th-color-text-header-highlight: var(--primary-600);
    --th-shadow-dropdownmenu: 1px 1px 24px 0px rgba(0, 0, 0, 0.08);
    --th-color-background-dropdownmenu: var(--white);
    --th-color-border-dropdownmenu: 1px solid rgb(224, 224, 224);
    --th-color-text-dropdownmenu-option: var(--primary-800);

    --th-color-text-modal-title: var(--primary-800);
    --th-color-background-modal: var(--white);
    --th-color-text-modal-description: var(--gray-700);
    --th-color-text-modal-highlight: var(--primary-600);
    --th-color-border-modal-button: var(--primary-600);
    --th-color-text-modal-button: var(--primary-600);
    --th-color-background-modal-button-primary: var(--primary-600);
    --th-color-text-modal-button-primary: var(--white);
    --th-color-background-modal-button-hover: var(--primary-100);

    --th-color-background-configuration-header: var(--gray-50);
    --th-background-configuration-page: var(--primary-600);
    --th-color-text-back-link: #e1f4f5;
    --th-color-background-configurations-sidebar: var(--gray-50);
    --th-border-configurations-sidebar: 1px var(--gray-200) solid;
    --th-color-background-configurations: #f7fcfc;
    --th-border-configurations: 1px var(--primary-200) solid;
    --th-color-text-profile-label-view: var(--gray-700);
    --th-color-text-profile-span-view: var(--primary-800);
    --th-color-text-profile-label-edit: var(--gray-800);
    --th-color-text-profile-user-name: var(--primary-700);
    --th-border-divider-profile: 1px var(--gray-200) solid;

    --th-color-text-profile-alert: var(--gray-900);
    --th-color-background-profile-alert-warning: var(--tertiary-500);
    --th-color-background-profile-alert-danger: var(--error);

    --th-color-text-password-recover: var(--gray-500);
    --th-color-title-password-recover-feedback: var(--primary-800);
    --th-color-text-password-recover-feedback: var(--primary-500);
    --th-border-input-password-recover: 1px var(--gray-400) solid;
    // button primary
    --th-button-primary-background: var(--primary-600);
    --th-button-primary-hover: var(--primary-500);
    --th-button-primary-color: var(--white);
    --th-button-primary-svg: var(--white);
    // button secondary
    --th-button-secondary-background: var(--white);
    --th-button-secondary-hover: var(--primary-100);
    --th-button-secondary-color: var(--primary-600);
    --th-button-secondary-svg: var(--primary-600);
    // button tertiary
    --th-button-tertiary-background: var(--white);
    --th-button-tertiary-hover: var(--primary-100);
    --th-button-tertiary-color: var(--primary-600);
    --th-button-tertiary-svg: var(--primary-600);
    // button danger
    --th-button-danger-background: var(--white);
    --th-button-danger-hover: var(--error-hover);
    --th-button-danger-color: var(--error);
    --th-button-danger-svg: var(--error);

    // input  primary
    --th-input-border: var(--gray-400);
    --th-input-color: var(--gray-800);
    --th-input-focus: var(--primary-600);
    --th-input-error: var(--error);

    // input  primary
    --th-combobox-border: var(--gray-400);
    --th-combobox-color: var(--gray-800);
    --th-combobox-focus: var(--primary-600);
    --th-combobox-error: var(--error);
    --th-combobox-hover: var(--primary-100);
}

// html[data-theme='secondary'] {
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 120%;
    font-weight: 600;
    font-family: var(--font-inter);
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 56px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 32px;
}
h6 {
    font-size: 24px;
}
body {
    font-family: var(--th-font-inter);
    font-weight: 400;
    font-weight: 150%;
    height: 100%;
}
button {
    font-family: var(--th-font-inter);
    font-weight: 600;
    line-height: 150%;
}

@mixin text-button($size) {
    font-family: var(--th-font-inter);
    font-weight: 600;
    line-height: 150%;
    font-size: $size;
}
